.match-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -100px auto;
}

.match {
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.match-content {
    display: flex;
    position: relative;
}

.match-tournament {
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    margin-left:10px;
}

.match-header {
    display: grid;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 13px;
    border-bottom: 2px solid rgb(230, 230, 230);
    padding: 4px;
    font-family: "Inter", serif;
}

.match-sub-header{
    font-family: "Inter", serif;
    font-size: 11px;
    padding: 4px;
    font-weight: 300;
}

.match-logo{
    display: block;
    width: 50px;
    height: 50px;
}

.match-status {
    color: palevioletred;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    margin: auto;
}

img.match-logo {
    display: block;
    width: 90px;
    height: 90px;
    margin:-15px auto;
}


.available-players-container {
    display: inline-grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 3px;
    margin-top: 100px;
    margin-left:30px;
    margin-bottom: 20px;
    float: left;
}


@media (max-width: 1000px) {
    .match-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .available-players-container {
        display:grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        width: 200px;
        grid-gap: 5px;
        margin: 30px auto;
        float:none;
    }

    .available-players-container .player-card{
        width: 140px;
        height: 48px;
    }


    .available-players-container .player-card .rank{
        font-size: 10px;
    }

    .available-players-container .player-card .nickname{
        font-size: 9px;
    }

    .available-players-container .player-card .name{
        font-size: 6px;
    }

    .available-players-container .player-card .elo{
        font-size: 7px;
    }

}


/* -------------------------------------------------------- BUTTTON*/
.note-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.match-note {
    font-size: 12px;
    max-width: 250px;
    max-height: 300px;
    padding: 9px;
    background-color: rgb(255,255,250);
    filter: opacity(65%);
    border-left: 3px solid #38003c;
    border-right: 3px solid #38003c;
    margin-bottom: 7px;
}

.btn-color{
    color: #38003c!important;
    border: 1px solid #38003c!important;
    font-size: 15px!important;
    margin-bottom: 30px!important;
    margin-top:30px!important;
}