.available-players-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 5px;
    margin-top: 20px;
}

.available-players-container .player-card .background:hover {
    color: #38003c;
}

@media (max-width: 700px) {
    .available-players-container {
        width: 200px;
        height: 200px;
        grid-gap: 5px;
        margin-top: 20px;
    }

    .available-players-container .player-card:hover {
    }

}


/* -------------------------------------------------------- BUTTTON*/

/*
.btn-border{
    border: 0.1vh solid black!important;
}

body{
    margin: 0;
    padding: 0;
}

.btn{
    position: relative;
    display: flex;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    margin: 30px 0;
    padding: 14px 60px;
    overflow: hidden;
    transition: 3s all ease;
}

.btn::before{
    background: #00ff85;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all 0.7s ease;
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.btn:hover::before{
    height: 400%;
}
*/
