.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 270px;
    margin: 3px auto;
    border-radius: 5px;
}

.team-name {
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

.team-logo {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chance-of-winning{
    font-size: 10px;
    font-family: Inter, sans-serif;
    color: rgb(150,150,150);
    text-align: center;
    margin: auto auto 6px;
}

.players{
    margin: auto;
    gap: 2px;
}