.mynavbar {
    position: absolute;
    height: 90px; /* Reduce the height of the navbar */
    padding: 0; /* Remove the padding */
    margin: 0; /* Remove the margin */
}

.navbar-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


.hamburger{
    color: #38003c;
}

@media (max-width: 768px) {
    .mynavbar {
        position: relative; /* Change the position from fixed to relative */
    }

}
