.navbar {

}

.navbar-logo {
    color: white!important;
    position: absolute;
    width: 90px;
    height: 60px;
    transform: translate(-50%, -50%);
    margin-left: 60px;
}

.navbar .navbar-toggler {
    filter: invert(100%);
}



.navbar .navbar-toggler:hover {
    border-width: 1px;
    border-color: #38003c;
}

.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border-color: #38003c;
}

.navbar .nav-link{
    font-size: 12px;
    color: whitesmoke;
}
.navbar .nav-link:hover {
    color: lightgreen;
}

@media (max-width: 900px) {
    .mynavbar {
        position: relative; /* Change the position from fixed to relative */
    }

    .navbar-logo {
        filter: invert(100%);
        position: absolute;
        width: 90px;
        height: 60px;
        transform: translate(-50%, -50%);
        margin-left: 60px;
    }

    .navbar-color{
        background-color: #38003c;
    }


    .bg{
        color: #38003c;
    }

}
