.navbar {

}

.navbar-logo {
    filter: invert(100%);
    position: absolute;
    width: 90px;
    height: 60px;
    transform: translate(-50%, -50%);
    right: 0;
}

.navbar .navbar-toggler {
    filter: invert(100%);
}

.navbar-color{
    border-left: 2px solid #00ff85;
    background-color: #38003c;
}

.navbar .navbar-toggler:hover {
    border-width: 1px;
    border-color: #38003c;
}

.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border-color: #38003c;
}

.navbar .nav-link{
    font-size: 14px;
    color: whitesmoke;
}

.navbar .nav-link:hover {
    transition: all 0.15s ease-in-out;
    transform: scale(1.02);
    text-decoration: underline;
    color: #00ff85;
}



@media (max-width: 900px) {
    .mynavbar {
        position: relative; /* Change the position from fixed to relative */
    }

    .navbar-logo {
        filter: invert(100%);
        position: absolute;
        width: 90px;
        height: 60px;
        transform: translate(-50%, -50%);
        margin-left: 60px;
    }

    .bg{
        color: #38003c;
    }

    .navbar-logo {
        left: 0;
    }

    .navbar-color{
        border-left: none;
    }

}