.player-card {
    display: flex;
    align-items: center;
    position: relative;
    width: 150px;
    height: 60px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: rgb(255, 250, 255);
    border-radius: 5px;
    overflow: hidden;
    gap:-1px;
}

.player-card .photo {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
}

.player-card .info {
    padding: 11px;
}

.player-card .nickname {
    color: #282c34;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -4px;
}

.player-card .name {
    text-align: left;
    font-size: 9px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 8px;
    margin-top: -4px
}

.player-card .elo {
    text-align: left;
    font-size: 9px;
    color: #777777;
    margin-top: -10px;
    margin-bottom: 3px;
}

.player-card .rank {
    text-align: left;
    margin-left: -1px;
    font-size: 12px;
    color: rgb(255,165,0);
    filter: grayscale(5%);
}

.player-card .description {
    /* Style the player description */
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    margin-top: 10px;
}

.player-card .position-shape {
    /* Style the rectangle shape */
    width: 20px;
    height: 15px;
    background-color: #333;
    color: #38003c;
    font-size: 8px;
    font-weight: 900;
    text-align: center;
    line-height: 21px;
    /* Position the rectangle shape in the top right corner of the Player Card */
    position: absolute;
    top: 0;
    right: 0;
}

/* ----------- SELECTED PLAYER CARD*/
.player-card.selected {
    /* styles for selected player card */
    filter:grayscale(100%);
    background-color: #282c34;
    color: #fff;
}

.player-card.selected .nickname{
    /* styles for selected player card */
    color: #fff;
}

.player-card.selected .name{
    /* styles for selected player card */
    color: #fff;
}

.player-card.selected .position-shape {
    /* Style the rectangle shape */
    width: 20px;
    height: 15px;
    background-color: #333;
    color: #38003c;
    font-size: 8px;
    font-weight: 900;
    text-align: center;
    line-height: 21px;
    /* Position the rectangle shape in the top right corner of the Player Card */
    position: absolute;
    top: 0;
    right: 0;
}


@media (max-width: 500px) {
    .player-card .nickname{
        /* make the player card take up the full width of the screen on small screens */
        width: 3%;
        height: 3%;
    }

    .player-card .nickname {
        /* make the photo smaller on small screens */
        width: 90%;
        height: 90%;
    }

    .player-card .nickname {
        /* reduce the font size of the nickname on small screens */
        font-size: 50%;
    }
}

