/* ----------------------------------------------- CONTAINER -------------- */
.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----------------------------------------------- TABLE -------------- */
table {
    margin: 4px auto;
    max-width: 80%;
    border-collapse: collapse; /* Remove the default cell spacing */
}

tr, td {
    border: 1px solid rgb(200,200,200)!important; /* adds a 1px black border to rows and cells */
}


tr{
    background-color: rgb(255,255,245);
}
th, td {
    padding: 0.5rem; /* Add some padding to the cells */
    text-align: center; /* Center the text in the cells */
    border: 1px solid #38003c; /* Add a border around the cells */
}

tr:nth-child(n):hover {
    background-color: lightgoldenrodyellow;
}


/* Style the navbar cells */
th {
    color: white;
    background-color: #38003c; /* Add a light gray background color */
    font-weight: 600; /* Make the text bold */
}

tr:nth-child(1) {
    background-color: rgb(240,255,240);
    font-weight: 900; /* Make the text bold */
}

tr:nth-child(2) {
    background-color: rgb(240,255,240);
    font-weight: 900;
}

tr:nth-child(3) {
    background-color: rgb(240,255,240);
    font-weight: 900;
}

tr:nth-last-child(1){
    background-color: rgb(255,210,200);
}

.rank {
    margin-right: 8px;
    font-size: 16px;
    color: goldenrod;
}

.photo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}


.position {
    font-size: 12px;
    font-weight: 1000;
}

.name{
    text-align: center;
    font-weight: 20;
    color: grey;
    font-size: 9px;
}

.index{
    text-align: center;
    font-weight: 400;
    color: #38003c;
    font-size: 10px;
}

.nickname{
    text-align: left;
    font-weight: 400;
    color: #38003c;
    font-size: 13px;
}

.elo {
    font-weight: 600;
}

/* ----------------------------------------------------------------------------------  MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    table {
        max-width: 80%;
        border-collapse: separate; /* Remove the default cell spacing */
    }

    th, td {
        font-size: 9px;
        padding: 0.36rem; /* Add some padding to the cells */
        text-align: center; /* Center the text in the cells */
    }

    tr:nth-child(n):hover {
        background-color: beige;
    }

    /* Style the navbar cells */
    th {
        color: white;
        background-color: #38003c; /* Add a light gray background color */
        font-weight: 600; /* Make the text bold */
    }

    .rank {
        margin-right: 8px;
        font-size: 9px;
        color: goldenrod;
    }

    .nickname{
        text-align: center;
        font-weight: 400;
        color: #38003c;
        font-size: 11px;
    }

    .photo {
        display:flex;
        width: 20px;
        height: 20px;
        object-fit: cover;
        border-radius: 100%;
    }

    .position {
        font-size: 9px;
        font-weight: 1000;
    }

    .name{
        text-align: left;
        font-weight: 20;
        color: grey;
        font-size: 9px;
    }

    .index{
        text-align: center;
        font-weight: 400;
        color: #38003c;
        font-size: 10px;
    }

    tr:nth-child(n):hover {
        background-color: lightgoldenrodyellow;
    }

    h1, h5 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }


    h1 {
        font-size: 15px!important;
        font-weight: bold;
        color: #38003c;
    }

    /* Subtitle */
    h5 {
        font-size: 9px!important;
        font-weight: bold;
        color: #6c757d;
    }

}

/*---------------------------------------GENERAL TITLES / NOTES / LOGO------------------------------------------*/
/* Title */
h1, h5 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 20px!important;
    font-weight: bold;
    color: #38003c;
}

/* Subtitle */
h5 {
    font-size: 11px!important;
    font-weight: bold;
    color: #6c757d;
}

/* Notes */
.note {
    max-width: 300px;
    max-height: 800px;
    background-color: rgb(255,255,250);
    filter: opacity(65%);
    border-left: 4px solid #38003c;
    margin-bottom: 7px;
}
p {
    text-align: center;
    font-size: 9px;
    color: #6c757d;
    margin-bottom: 0.6rem;

}

.logo{
    width: 120px;
    height: 60px;
    object-fit: cover;
    margin-left: 2px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.thropie{
    width: 10%;
    height: 10%;
    margin-top: 30px;
}
