table {
    width: 100%; /* Make the table fill the entire container */
    border-collapse: collapse; /* Remove the default cell spacing */
    margin-top: 15px;
}

th, td {
    padding: 0.5rem; /* Add some padding to the cells */
    text-align: center; /* Center the text in the cells */
    border: 1px solid #ccc; /* Add a border around the cells */
}

tr:nth-child(n):hover {
    background-color: lightgoldenrodyellow;
}


/* Style the header cells */
th {
    color: white;
    background-color: #38003c; /* Add a light gray background color */
    font-weight: 400; /* Make the text bold */
}


.rank {
    margin-right: 8px;
    font-size: 16px;
    color: goldenrod;
}

.photo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}


.position {
    font-size: 12px;
    font-weight: 1000;
}

.name{
    text-align: center;
    font-weight: 20;
    color: grey;
    font-size: 9px;
}

.nickname{
    text-align: center;
    font-weight: 400;
    color: #38003c;
    font-size: 13px;
}


.elo {
    font-weight: 600;
}

/* Make the table responsive */
@media only screen and (max-width: 600px) {
    table {
        width: 100%; /* Make the table fill the entire container */
        border-collapse: collapse; /* Remove the default cell spacing */
        border: 1px solid black
    }

    th, td {
        font-size: 10px;
        padding: 0.4rem; /* Add some padding to the cells */
        text-align: center; /* Center the text in the cells */
        border: 1px solid #ccc; /* Add a border around the cells */
    }

    tr:nth-child(n):hover {
        background-color: beige;
    }

    /* Style the header cells */
    th {
        color: white;
        background-color: #38003c; /* Add a light gray background color */
        font-weight: 400; /* Make the text bold */
    }

    .rank {
        margin-right: 8px;
        font-size: 9px;
        color: goldenrod;
    }

    .nickname{
        text-align: center;
        font-weight: 400;
        color: #38003c;
        font-size: 11px;
    }

    .photo {
        width: 20px;
        height: 20px;
        margin-right: -1px;
        margin-left: 2px;
        object-fit: cover;
        border-radius: 100%;
    }

    .position {
        font-size: 9px;
        font-weight: 1000;
    }

    .name{
        text-align: center;
        font-weight: 20;
        color: grey;
        font-size: 9px;
    }

    tr:nth-child(n):hover {
        background-color: lightgoldenrodyellow;
    }

}

/*TABLE TITLES*/
/* Title */
h1 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #38003c;
    margin-bottom: 1rem;
}

/* Subtitle */
h2 {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #6c757d;
    margin-top:-12px;
    margin-bottom: 1rem;
}

/* Notes */
p {
    text-align: center;
    font-size: 10px;
    color: #6c757d;
    margin-bottom: 2rem;
}

.logo{
    width: 120px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 120px;
}

.note {
    font-size: 9px;
    background-color: rgb(255,255,230);
    border-left: 6px solid #38003c;
    margin-bottom: 7px;
}

h4{
    font-size: 9px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}
