.player-card {
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    height: 80px;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.player-card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.player-photo {
    margin-left: 20px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
}

.player-info {
    padding: 13px;
}

.player-nickname {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: -2px;
}

.player-name {
    text-align: left;
    font-size: 9px;
    color: #333333;
    margin-bottom: 8px;
}

.player-elo {
    text-align: left;
    font-size: 9px;
    color: #777777;
    margin: 0 auto;
}

.player-rank {
    text-align: left;
    margin-right: 8px;
    font-size: 16px;
    color: gold;
}

.player-description {
    /* Style the player description */
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    margin-top: 10px;
}

.position-shape {
    /* Style the rectangle shape */
    width: 20px;
    height: 15px;
    background-color: #333;
    color: #38003c;
    font-size: 8px;
    font-weight: 900;
    text-align: center;
    line-height: 21px;
    /* Position the rectangle shape in the top right corner of the Player Card */
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 500px) {
    .player-card {
        /* make the player card take up the full width of the screen on small screens */
        width: 3%;
        height: 3%;
    }

    .player-photo {
        /* make the photo smaller on small screens */
        width: 90%;
        height: 90%;
    }

    .player-nickname {
        /* reduce the font size of the nickname on small screens */
        font-size: 50%;
    }
}
