.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

table {
    margin: 0 auto;
    max-width: 80%;
    border-collapse: collapse; /* Remove the default cell spacing */
    border: 1px #38003c solid;
}

th, td {
    padding: 0.5rem; /* Add some padding to the cells */
    text-align: center; /* Center the text in the cells */
    border: 1px solid #38003c; /* Add a border around the cells */
}

tr:nth-child(n):hover {
    background-color: lightgoldenrodyellow;
}


/* Style the header cells */
th {
    color: white;
    background-color: #38003c; /* Add a light gray background color */
    font-weight: 600; /* Make the text bold */
}

tr:nth-child(1) {
    background-color: rgb(240,255,240);
    font-weight: 900; /* Make the text bold */
}

tr:nth-child(2) {
    background-color: rgb(240,255,240);
    font-weight: 900;
}

tr:nth-child(3) {
    background-color: rgb(240,255,240);
    font-weight: 900;
}

tr:nth-last-child(1){
    background-color: rgb(255,210,200);
}

.rank {
    margin-right: 8px;
    font-size: 16px;
    color: goldenrod;
}

.photo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}


.position {
    font-size: 12px;
    font-weight: 1000;
}

.name{
    text-align: center;
    font-weight: 20;
    color: grey;
    font-size: 9px;
}

.index{
    text-align: center;
    font-weight: 400;
    color: #38003c;
    font-size: 10px;
}

.nickname{
    text-align: left;
    font-weight: 400;
    color: #38003c;
    font-size: 13px;
}


.elo {
    font-weight: 600;
}

/* Make the table responsive */
@media only screen and (max-width: 600px) {
    table {
        max-width: 80%;
        border-collapse: separate; /* Remove the default cell spacing */
    }

    th, td {
        font-size: 9px;
        padding: 0.36rem; /* Add some padding to the cells */
        text-align: center; /* Center the text in the cells */
        border: 20px solid #38003c;
    }

    tr:nth-child(n):hover {
        background-color: beige;
    }

    /* Style the header cells */
    th {
        color: white;
        background-color: #38003c; /* Add a light gray background color */
        font-weight: 600; /* Make the text bold */
    }

    .rank {
        margin-right: 8px;
        font-size: 9px;
        color: goldenrod;
    }

    .nickname{
        text-align: center;
        font-weight: 400;
        color: #38003c;
        font-size: 11px;
    }

    .photo {
        display:flex;
        width: 20px;
        height: 20px;
        object-fit: cover;
        border-radius: 100%;
    }

    .position {
        font-size: 9px;
        font-weight: 1000;
    }

    .name{
        text-align: left;
        font-weight: 20;
        color: grey;
        font-size: 9px;
    }

    .index{
        text-align: center;
        font-weight: 400;
        color: #38003c;
        font-size: 10px;
    }

    tr:nth-child(n):hover {
        background-color: lightgoldenrodyellow;
    }

    h1, h5 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }


    h1 {
        font-size: 15px!important;
        font-weight: bold;
        color: #38003c;
    }

    /* Subtitle */
    h5 {
        font-size: 9px!important;
        font-weight: bold;
        color: #6c757d;
    }

}

/*TABLE TITLES*/
/* Title */
h1, h5 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


h1 {
    font-size: 12px;
    font-weight: bold;
    color: #38003c;
}

/* Subtitle */
h5 {
    font-size: 5px;
    font-weight: bold;
    color: #6c757d;
}

/* Notes */
p {
    text-align: center;
    font-size: 10px;
    color: #6c757d;
    margin-bottom: 0.6rem;
    margin-right: 30px;
    margin-left: 30px;
}

.logo{
    width: 120px;
    height: 60px;
    object-fit: cover;
    margin-left: 2px;
    margin-top: 20px;
}

.note {
    font-size: 9px;
    background-color: rgb(255,255,230);
    border-left: 3px solid #38003c;
    margin-bottom: 5px;
}

